<!DOCTYPE html>
<html lang="pt-BR">
<head>
    {% include "setup/partials/head.html" %}
    <title>{% block title %}{% endblock title %}</title>
</head>
<body>
    <header>
        <div class="container">
            <nav>
                <h1>
                    <a href="#" title="logo">
                        <i class="fa-solid fa-utensils"></i>
                        <span>Recipes</span>
                    </a>
                </h1>
            </nav>
        </div>
    </header>
    <main>
        {% block content %}
        {% endblock content %}
    </main>
    <footer>
        <span>By Mcn</span>
        <span>Powered by Django</span>
    </footer>
</body>
</html>