{% extends "setup/pages/base.html" %}
{% block title %}{{title}}{% endblock title %}
{% block content %}
<section class="recipe container">
    <header>
        <h1>{{recipe.title}}</h1>
        <p><strong>{{recipe.description}}</strong></p>
    </header>
    <main>
        <section class="img">
            <img src="{{recipe.cover.url}}" alt="{{recipe.title}}" width="100%">
        </section>
        <div class="duration">
            <div class="item-duration">
                <div>
                    <i class="fa-solid fa-clock"></i>
                    <strong>Tempo</strong>
                </div>
                <span>{{recipe.preparation_time}} {{recipe.preparation_time_unit}}</span>
            </div>
            <div class="item-duration">
                <div>
                    <i class="fa-solid fa-pizza-slice"></i>
                    <strong>Porções</strong>
                </div>
                <span>{{recipe.servings}} {{recipe.servings_unit}}</span>
            </div>
        </div>
        <section class="content">
            <div>
                <h2>Ingredientes</h2>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit atque, ipsa sapiente ipsam vel corrupti natus delectus doloribus. Exercitationem, consectetur!
                </p>
            </div>
            <div>
                <h2>Modo de preparar</h2>
                <span>
                    {% if recipe.preparation_steps_is_html is True %}
                        {{recipe.preparation_steps|safe}}
                    {% else %}
                        {{recipe.preparation_steps|linebreaksbr}}
                    {% endif %}
                </span>
            </div>
        </section>
    </main>
</section>
{% endblock content %}