{% extends "setup/pages/base.html" %}
{% block title %}{% endblock title %}
{% block content %}
<section class="recipe container">
    <header>
        <h1>Lorem ipsum dolor sit amet.</h1>
        <p><strong>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Maxime, magnam.</strong></p>
    </header>
    <main>
        <section class="img">
            <img src="https://placehold.co/1280x720/orange/white" alt="imagem" width="100%">
        </section>
        <div class="duration">
            <div class="item-duration">
                <div>
                    <i class="fa-solid fa-clock"></i>
                    <strong>Tempo</strong>
                </div>
                <span>0 Minutos</span>
            </div>
            <div class="item-duration">
                <div>
                    <i class="fa-solid fa-pizza-slice"></i>
                    <strong>Porções</strong>
                </div>
                <span>0 Porções</span>
            </div>
        </div>
        <section class="content">
            <div>
                <h2>Ingredientes</h2>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit atque, ipsa sapiente ipsam vel corrupti natus delectus doloribus. Exercitationem, consectetur!
                </p>
            </div>
            <div>
                <h2>Modo de preparar</h2>
                <p>
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Beatae quidem perspiciatis non ipsa in totam assumenda minus alias necessitatibus nulla laborum voluptatem exercitationem quas repellendus debitis, ducimus laboriosam ad ipsam! Quam voluptas quisquam laborum! Cumque quibusdam neque mollitia illo sunt!
                </p>
            </div>
        </section>
    </main>
</section>
{% endblock content %}