<li class="li-cards">
    <header class="card-header">
        <img src="{{recipe.cover.url}}" alt="{{recipe.title}}" width="100%">
    </header>
    <main>
        <article>
            <h2>{{recipe.title}}</h2>
            <ul>
                <li>
                    <i class="fa-solid fa-user"></i>
                    <span>{{recipe.author}}</span>
                </li>
                <li>
                    <i class="fa-solid fa-calendar"></i>
                    <span>{{recipe.created_at}}</span>
                </li>
                <li>
                    <i class="fa-solid fa-utensils"></i>
                    <a href="{% url "category" recipe.category.name %}"><strong>{{recipe.category.name}}</strong></a>
                </li>
            </ul>
            <p>
                {{recipe.description}}
            </p>
        </article>
    </main>
    <div class="duration">
        <div class="item-duration">
            <div>
                <i class="fa-solid fa-clock"></i>
                <strong>Tempo</strong>
            </div>
            <span>{{recipe.preparation_time}} {{recipe.preparation_time_unit}}</span>
        </div>
        <div class="item-duration">
            <div>
                <i class="fa-solid fa-pizza-slice"></i>
                <strong>Porções</strong>
            </div>
            <span>{{recipe.servings}} {{recipe.servings_unit}}</span>
        </div>
    </div>
    <footer>
        <a href="{% url "recipe" recipe.slug %}">
            <i class="fa-solid fa-eye"></i>
            <span>Ver mais...</span>
        </a>
    </footer>
</li>