<li class="li-cards">
    <header class="card-header">
        <img src="https://placehold.co/1280x720" alt="imagem" width="100%">
    </header>
    <main>
        <article>
            <h2>Lorem ipsum dolor sit amet.</h2>
            <ul>
                <li>
                    <i class="fa-solid fa-user"></i>
                    <span>Luiz Otávio</span>
                </li>
                <li>
                    <i class="fa-solid fa-calendar"></i>
                    <span>16/01/2021 às 11:21</span>
                </li>
                <li>
                    <i class="fa-solid fa-utensils"></i>
                    <a href="#"><strong>Café da manhã</strong></a>
                </li>
            </ul>
            <p>
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Maxime, magnam.
            </p>
        </article>
    </main>
    <div class="duration">
        <div class="item-duration">
            <div>
                <i class="fa-solid fa-clock"></i>
                <strong>Tempo</strong>
            </div>
            <span>0 Minutos</span>
        </div>
        <div class="item-duration">
            <div>
                <i class="fa-solid fa-pizza-slice"></i>
                <strong>Porções</strong>
            </div>
            <span>0 Porções</span>
        </div>
    </div>
    <footer>
        <i class="fa-solid fa-eye"></i>
        <span>Ver mais...</span>
    </footer>
</li>